.tree-item-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: "2px 6px";
  width: 100%;
}

.tree-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.tree-item:hover {
  background-color: var(--hover-bg-color);
}

.tree-item-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.tree-item-details {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
